<h1>Recipe Gallery</h1>

<%= form_tag recipes_path, method: 'get' do %>
  <%= select_tag :category, options_from_collection_for_select(Category.all, "id", "name"), { :include_blank => true , :class => "categories_select"} %>
  <%= submit_tag 'Filter' %>
<% end %>


    <% @recipes.each do |recipe| %>
      <img src='<%= recipe.recipe_photo %>' class="thumbnail img-responsive danger" style="max-height: 300px; max-width: 200px"/>
      <p><%= link_to recipe.title.capitalize, recipe_path(recipe) %></p>
    <% end %>

</ul>
