<h1>New Recipe</h1>


<%= form_for (@recipe) do |f| %>
  <br>
  <%= f.text_field :title, placeholder: "Title" %>
  <br>
  <br>
  <%= f.text_area :description, placeholder: "Add a description...", cols: 30, rows: 4 %>
  <br>
  <br>
  <%= f.label "Add Your Favorite Picture" %>
  <%= f.file_field :recipe_photo %>
  <br>
  <%= f.text_area :directions, placeholder: "Add directions...", cols: 30, rows: 4 %>
  <%= f.hidden_field :user_id, value: session[:user_id] %>

  <br>

    <!-- <%= f.fields_for :ingredients do |t| %>
      <input type="hidden" name="recipe_id" value="<%= @recipe.id %>">
      <%= t.label "Ingredient name:" %>
      <%= t.text_field :name %>
    <% end %> -->

  <br>
  <%= f.submit %>

<% end %>


<%= link_to "Back to Gallery", recipes_path %>
