<h1><%= @recipe.title.capitalize %></h1>
<br>
<br>
<h3>Category: </h3>
<h4><%= @recipe.category.name %></h4>

<p><img src="<%= @recipe.recipe_photo %>" alt='missing' style="max-height: 500px; max-width: 300px" /></p>
<br>
<label>Description:</label>
<p><%= @recipe.description %></p>
<br>
<label>Directions:</label>
<p><%= @recipe.directions %></p>

<h3>Ingredients:</h3>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ul>

<%= link_to "Edit your Recipe", edit_recipe_path %>

<h2>Reviews: </h2>
<ul>
  <% @recipe.reviews.map do |review| %>
    <li><%= review.content %>
    <% if session[:user_id] == review.user_id %> by <%= @user.username.capitalize %>
      <%= link_to 'delete',  review,  method: :delete, data: { confirm: 'Are you sure yo want to delete this review?' } %></li>
    <% end %>
  <% end %>
</ul>

<h4><%= render 'errors/error_messages' %></h4>

<%= form_tag "/reviews" do %>
  <%= label_tag "Add a review..." %>
  <%= text_field_tag "review[content]"%>
  <input type="hidden" name= "review[user_id]" value="<%= session[:user_id] %>">
  <input type="hidden" name= "review[recipe_id]" value="<%= @recipe.id %>">
  <br>
  <%= submit_tag "Add Review" %>
<% end %>
